{% extends 'main.html' %}
{% block content %}

<!-- <h1>Home Template</h1> -->
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 2fr 1.5fr;
        /* divide side content and browse topic with 1/4 and 3/4 area */
    }
</style>
<!-- we have home container and inside it two containers - sidebar and other content -->
<div class="home-container">
    <div>
        {% include 'base/topics_component.html' %}
    </div>
    <div class="room-available">
        <h5>Rooms</h5>
        <h5>{{room_count}} room available</h5>
        <a href="{% url 'create-room' %}">Create Room</a>
            
                {% include 'base/feed_component.html' %}
           
    </div>

<div class="Recent-activity">
   
   {% include 'base/activity_component.html' %}
</div>

</div>
{% endblock content %}